---
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>&copy; {currentYear} Juan Jaramillo</p>
	</div>
	<p class="socials">
		<a href="https://www.linkedin.com/in/juan-jaramillo-tradebog/" target="_blank"> LinkedIn</a>
		<a href="https://twitter.com/juanjaragavi" target="_blank"> Twitter</a>
		<a href="https://github.com/juanamillo" target="_blank"> GitHub</a>
	</p>
</footer>
<style>
	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}
	footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: auto;
		padding: 2rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
